[Desktop Entry]
Encoding=UTF-8
Name=Pokécoin
Comment=Pokécoin P2P Cryptocurrency
Comment[fr]=Pokécoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Pokécoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/pokécoin-qt %u
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/pokécoin128.png
MimeType=x-scheme-handler/pokécoin;
Categories=Office;
